[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/grpc-server
ExecStart=/root/apps/grpc-server/grpc-server
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/grpc-server/config.env

[Install]
WantedBy=multi-user.target
